#plan {
  scroll-margin-top: 100px;
}
.rental-steps-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem 0 0 0;

  img {
    height: 3rem;
  }
  h1 {
    margin-bottom: 0;
  }
  h2 {
    text-align: center;
  }
}
.card-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  h3 {
    margin-top: 1rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  gap: 0.25rem;
}
.steps-title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  #plan {
    scroll-margin-top: 200px;
  }
  .card-steps {
    padding: 0 2rem 0 2rem;
    flex-direction: row;
  }
}
