.main {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 4rem;
}

.left-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: medium;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    text-overflow: ellipsis;
    max-width: 80%;
  }
  p {
    text-align: center;
    max-width: 70%;
  }
  a {
    color: white;
  }
}
.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  button {
    border-radius: 3px;
    height: 4rem;
    width: 100%;
  }
}
.right-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  background-image: url(https://img.freepik.com/free-photo/cement-footpath-skyline-space-building_1112-1059.jpg?w=1800&t=st=1685637004~exp=1685637604~hmac=ab274632fdc66436f8467e7a1059717c7e3dbfe3e7ee582084f5889fb0328765);
  background-repeat: no-repeat;

  .img {
    object-fit: contain;
    width: 500px;
    transform: scaleX(-1);
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 10rem;
    flex-direction: row;
  }
  .left-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
    font-size: x-large;
    text-align: left;
    p {
      margin: 0;
      text-align: left;
      font-size: smaller;
      font-weight: 300;
    }
    h2 {
      text-align: left;
    }
  }
  .right-container {
    width: 50%;
    padding-right: 0;
  }
  .button-div {
    display: flex;
    flex-direction: row;
  }
}
