.title-div {
  border: black 2px solid;
  border-bottom: 1px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  p {
    margin: 1rem 0 1rem 0;
  }
}
.detail-table-container {
  display: grid;
  grid-template-columns: 11rem 11rem;
  text-align: center;
  border: 1px solid black;
  height: 80%;

  div {
    display: flex;
    border: 0.5px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  button {
    width: 100%;
    border-radius: 2px;

    border-top: 0px;
    text-decoration: none;
    a {
      color: white;
    }
  }
}
.button-table-div {
  height: 100%;
}
img {
  background-color: white;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .detail-table-container {
    grid-template-columns: 7rem 7rem;
  }
}
