.whyus-main-container {
  scroll-margin-top: 85px;
  text-align: center;
  h3 {
    font-size: 3rem;
  }
}
.bottom-right {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.bottom-left {
  button {
    height: 3rem;
    width: 100%;
  }
}
.why-img-div {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50px;
    height: 50px;
    margin-right: 1.5rem;
  }
}
.why-card {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .whyus-main-container {
    scroll-margin-top: -220px;
    h1 {
      margin-bottom: 0;
    }
  }
  .bottom {
    display: flex;
    gap: 2rem;
  }
  .bottom-right {
    width: 50%;
  }
  .bottom-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: start;
    button {
      width: 10rem;
      height: 3rem;
    }
    h1 {
      margin-bottom: 2rem;
    }
    h3 {
      margin-bottom: 1rem;
    }
  }
}
