.banner-main-container {
  display: flex;
  background-color: black;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 150px;
  margin-top: 5rem;
  justify-content: center;
}
.span-target {
  color: red;
}
