* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.faq-container {
  text-align: center;
}
.faq-h3 {
  color: gray;
  font-weight: 300;
}
.faqItem-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}
.question-answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-question {
  color: white;
  background-color: #eb6e34;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.faq-answer-div {
  overflow: hidden;
  max-height: 0;
  transition: all 1s ease;
}
.faq-answer-div-active {
  max-height: 300px;
  transition: all 1.4s ease-in-out;
  overflow: hidden;
}

// TODO: style the faq with transition somehow
